/* src/components/Product.module.css */
.productsContent{
  display: flex;
  flex-direction: row;
  
}

.product {
  width: 300px ; 
  border: 1px solid darkgoldenrod;
  padding: 16px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  

}



.product img {
  max-width: 120px;
  height: auto;
  margin-bottom: 8px;
}

.product h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.product p {
  margin-bottom: 8px;
}

.product button {
  background-color:darkgoldenrod;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: blue;
}

.pagamento {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: red;
  padding: 10px;
}